@{
    ViewData["Title"] = "사이트 관리";
}

@section css {
}

<main id="js-page-content" role="main" class="page-content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);">사이트 관리</a></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            IIS 사이트 리스트 입니다..
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-8">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>
                        IIS 사이트
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div class="panel-tag">
                            <a href="javascript:copyToClipboard('C:/Windows/System32/drivers/etc');" class="text-info fw-500" data-toggle="tooltip" title="Hosts 파일 경로 복사">C:/Windows/System32/drivers/etc</a> 경로의
                            <span class="text-success">Hosts</span>파일 변경이 필요합니다.
                        </div>
                        <!-- datatable start -->
                        <table id="dt-best-product" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-highlight">
                                <tr>
                                    <th>Id</th>
                                    <th class="text-center">사이트</th>
                                    <th class="text-center">ApplicationPool</th>
                                    @*<th class="text-center">상태</th>*@
                                    <th class="text-center">Host</th>
                                    <th class="text-center">Port</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <!-- datatable end -->
                    </div>
                </div>
                <div class="modal fade" id="default-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">
                                    도메인 주소 입력
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="form-label" for="domain-name">domain</label>
                                    <input type="text" id="domain-name" class="form-control" placeholder="도메인 주소를 입력해 주세요.">
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="template1" name="templateId" value="template1">
                                        <label class="custom-control-label" for="template1">template1</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="template2" name="templateId" value="template2">
                                        <label class="custom-control-label" for="template2">template2</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="template3" name="templateId" value="template3">
                                        <label class="custom-control-label" for="template3">template3</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                <button type="button" id="btn-create" class="btn btn-primary">저장</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

@*<div>
        <input type="text" id="domain-name" placeholder="도메인명을 넣어주세요." />
        <button type="button" onclick="fnSiteAdd()">사이트 생성</button>
    </div>*@

@section Scripts{
    <script src="~/bootstrap/js/datagrid/datatables/datatables.bundle.js"></script>
    @*<script src="~/bootstrap/js/datagrid/datatables/vfs_fonts.js"></script>*@
    <script src="~/bootstrap/js/notifications/sweetalert2/sweetalert2.bundle.js"></script>
    <script src="~/bootstrap/js/formplugins/select2/select2.bundle.js"></script>
    <script src="~/bootstrap/js/dependency/moment/moment.js"></script>
    <script>
        $(document).ready(function () {
            dataTableGrid();

            $('#btn-create').on('click', function () {
                $('#default-example-modal-center').modal('hide');
                Swal.fire(
                    {
                        allowOutsideClick: false,
                        title: "새로운 사이트를 생성 하시겠습니까?",
                        text: "새로운 사이트가 생성 됩니다.",
                        type: "info",
                        showCancelButton: true,
                        confirmButtonText: "예",
                        cancelButtonText: "아니오",

                    }).then(function (result) {
                        if (result.value) {
                            var timerInterval;
                            Swal.fire(
                                {
                                    allowOutsideClick: false,
                                    title: "사이트 생성",
                                    html: "새로운 사이트를 생성 중 입니다.<br/><strong></strong> seconds.",
                                    onBeforeOpen: function onBeforeOpen() {
                                        //var content = Swal.getContent();
                                        //var $ = content.querySelector.bind(content);
                                        let i = 1;
                                        timerInterval = setInterval(function () {
                                            Swal.getContent().querySelector("strong").textContent = (
                                                i++
                                            ).toFixed(0);
                                        }, 1000);

                                        Swal.showLoading();
                                    },
                                    onClose: function onClose() {
                                        clearInterval(timerInterval);
                                    }
                                });

                            let domain = $('#domain-name').val();
                            let url = new URL('@SiteHelper.Config.ApiDomain/Admin/AddSite');

                            const params = { 'domain': domain }

                            url.search = new URLSearchParams(params).toString();

                            fetch(url, {
                                method: 'GET',
                                headers: AWUtil.headers('json')
                            })
                                .then(response => {
                                    if (response.ok) {
                                        Swal.fire('생성 되었습니다.');
                                        location.reload();
                                    }
                                })
                                .catch(error => console.error('Error:', error));

                        }
                    });
            });
        });

        function dataTableGrid() {
            var data_url = '@SiteHelper.Config.ApiDomain/Admin/GetSiteList';

            $('#dt-best-product').dataTable(
                {
                    //dataTable 초기화 허용
                    destroy: true,
                    processing: true,
                    scrollCollapse: true,
                    fixedHeader: true,
                    select: 'single',
                    //json 형식일경우
                    //data: data,

                    //ajax 일경우
                    ajax: {
                        url: data_url,
                        dataSrc: '',
                        beforeSend: function (request) {
                            request.setRequestHeader("authorization", `Bearer ${AWUtil.getToken()}`);
                        }
                    },
                    rowId: 'Id',
                    order: [[0, 'desc']],
                    language: {
                        "emptyTable": "등록된 정보가 없습니다."
                    },
                    //rowReorder:
                    //{
                    //    selector: 'tr td:not(:first-child)'
                    //},
                    //데이터 바인딩
                    columns: [
                        { data: 'Id', type: "readonly", width: '0' }, //rowId 옵션으로 대체
                        { data: 'Name', type: "readonly", width: '130px' },
                        { data: 'ApplicationPoolName', type: "readonly", width: '130px' },
                        /*{ data: 'Status', type: "readonly", width: '80px' },*/
                        { data: 'Host', type: "readonly", width: '*' },
                        { data: 'Port', type: "readonly", width: '60px' }
                    ],

                    //컬럼 재정의 (검색 및 노출 여부를 수정할수있음)
                    columnDefs: [
                        {
                            targets: [0],
                            visible: false,
                            searchable: false
                        },
                        //{
                        //    targets: [1],
                        //    render: function (data, type, row) {
                        //        let html = `<a href="javascript:copyToClipboard('127.0.0.1 ${row.Name}');" class="text-info fw-500">${row.Name}</a>`;
                        //        return html;
                        //    }
                        //},
                        //{
                        //    targets: [3],
                        //    render: function (data, type, row) {
                        //        let startButton = `<button type="button" onclick="StartSite('${row.Name}');" class="btn-info btn-sm mr-1">시작</button>`;
                        //        let stopButton = `<button type="button" onclick="StopSite('${row.Name}');" class="btn-warning btn-sm mr-1">중지</button>`;
                        //        let html = `<div style="display:flex; justify-content:center;">${!row.IsStart ? startButton : stopButton}</div>`;
                        //        return html;
                        //    }
                        //}
                    ],
                    responsive: true,
                    altEditor: true,
                    select: true,
                    dom:
                        /*	--- Layout Structure
                            --- Options
                            l	-	length changing input control
                            f	-	filtering input
                            t	-	The table!
                            i	-	Table information summary
                            p	-	pagination control
                            r	-	processing display element
                            B	-	buttons
                            R	-	ColReorder
                            S	-	Select

                            --- Markup
                            < and >				- div element
                            <"class" and >		- div with a class
                            <"#id" and >		- div with an ID
                            <"#id.class" and >	- div with an ID and a class

                            --- Further reading
                            https://datatables.net/reference/option/dom
                            --------------------------------------
                         */
                        //"<'row mb-3'<'col-sm-12 col-md-3 d-flex align-items-center justify-content-start'f>>" +
                        "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'><'col-sm-6 col-md-6 d-flex align-items-left justify-content-end'B>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        {
                            text: '<i class="fal fa-plus mr-1"></i> 추가',
                            className: 'btn-success btn-sm mr-1',
                            attr: {
                                "data-target": "#default-example-modal-center",
                                "data-toggle": "modal"
                            }
                        },
                    ],
                });

            //$('#dt-best-product').on('dblclick', 'tr', function () {
            //    location.href = "/Product/BestProductReg/" + $(this).attr('Id');
            //})
        }

        function StartSite(domain) {
            fetch()

            $.post('@SiteHelper.Config.ApiDomain/Rental/StartSite', { domain: domain }, function (result) {
                alert(result.message);
                location.reload();
            });
        }

        function StopSite(domain) {
            $.post('@SiteHelper.Config.ApiDomain/Rental/StopSite', { domain: domain }, function (result) {
                alert(result.message);
                location.reload();
            });
        }

        function copyToClipboard(val) {
            const t = document.createElement("textarea");
            document.body.appendChild(t);
            t.value = val;
            t.select();
            document.execCommand('copy');
            document.body.removeChild(t);
            alert('복사 되었습니다.');
        }

        @*function fnSiteAdd() {

            let domain = $('#domain-name').val();
            let url = new URL('@SiteHelper.Config.ApiDomain/Admin/AddSite');

            const params = { 'domain': domain }

            url.search = new URLSearchParams(params).toString();

            fetch(url, {
                method: 'GET',
                headers: AWUtil.headers('json')
            })
                .then(response => {
                    console.log(response.status);
                })
                .catch(error => console.error('Error:', error));
    }*@
    </script>
}
