@using AllregoSoft.WebManagementSystem.WebAdmin.Infrastructure.Helper 
@{
    var SiteMapList = SessionHelper.SiteMaps;
}

<aside class="page-sidebar">
    <div class="page-logo">
        <a href="/" class="page-logo-link press-scale-down d-flex align-items-center position-relative">
            <span class="page-logo-text mr-1">통합 Admin</span>
            <span class="position-absolute text-white opacity-50 small pos-top pos-right mr-2 mt-n2"></span>
        </a>
    </div>
    <!-- BEGIN PRIMARY NAVIGATION -->
    <nav id="js-primary-nav" class="primary-nav" role="navigation">
        <ul id="js-nav-menu" class="nav-menu">
            @if (SiteMapList != null)
            {
                foreach (var FirstMap in SiteMapList)
                {
                    <li class="@(FirstMap.Clicked == true ? "active open" : "")">
                        <a href="#" title="@FirstMap.Name" @(FirstMap.Clicked == true ? "aria-expanded=true" : "")>
                            @*<i class="fal fa-info-circle"></i>*@
                            <span class="nav-link-text">@FirstMap.Name</span>
                        </a>
                        <ul>
                            @foreach (var SecondMap in FirstMap.ChildMaps)
                            {
                                @if (SecondMap.ChildMaps != null && SecondMap.ChildMaps.Count() > 0)
                                {
                                    <li class="@(SecondMap.Clicked == true ? "active open" : "")">
                                        <a href="#" title="@SecondMap.Name" @(SecondMap.Clicked == true ? "aria-expanded=true" : "")>
                                            @*<i class="fal fa-info-circle"></i>*@
                                            <span class="nav-link-text">@SecondMap.Name</span>
                                        </a>
                                        <ul>
                                            @foreach (var ThirdMap in SecondMap.ChildMaps)
                                            {
                                                <li class="@(ThirdMap.Clicked == true ? "active" : "")">
                                                    <a href="@ThirdMap.Path" title="@ThirdMap.Name">
                                                        <span class="nav-link-text">@ThirdMap.Name</span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                                else
                                {
                                    <li class="@(SecondMap.Clicked == true ? "active" : "")">
                                        <a href="@SecondMap.Path" title="@SecondMap.Name">
                                            @*<i class="fal fa-info-circle"></i>*@
                                            <span class="nav-link-text">@SecondMap.Name</span>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
    </nav>
    <!-- END PRIMARY NAVIGATION -->
</aside>
